@model Mvc4Async.Models.ProdGizWidgetVM


@{
    ViewBag.Title = "PWG";
}

<h2> Synch Type: @ViewBag.SyncType </h2>

<h2>Product List</h2>

<table>
    <tr>        <th>            Name        </th>
        <th>            Price        </th>   </tr>

@foreach (var item in Model.prodList)
{
    <tr>        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>    </tr>
}
    </table>

    <h2>Widget  List</h2>
    
<table>    <tr>        <th>            Name        </th>
        <th>            Price        </th>    </tr>

@foreach (var item in Model.widgetList)
{
    <tr>        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td></tr>
}

</table>

 <h2>Gizmo List </h2>
    
<table>    <tr>        <th>            Name        </th>
        <th>            Quantity        </th>
     <th>  &nbsp; &nbsp; &nbsp;           Intro Date        </th>
       
    </tr>

@foreach (var item in Model.gizmoList)
{
    <tr>        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>    
         <td>
             &nbsp; &nbsp; &nbsp;  
            @Html.DisplayFor(modelItem => item.IntroducedDate)
        </td>    
    </tr>
}

</table>
