@model IEnumerable<Mvc4Async.Models.Widget>

@{
    ViewBag.Title = "Widgets";
}

<h2>@ViewBag.Title  @ViewBag.SyncOrAsync</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

    </tr>
}

</table>
